---
title: Summary in a card without a title
layout: layout-example.njk
---

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: true,
  rows: [
    {
      key: {
        text: "Phone number"
      },
      value: {
        text: "07700 900327"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "phone number"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "Not entered"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "5 Royal Exchange Square<br>Glasgow<br>G1 3AH<br>United Kingdom"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: true,
  rows: [
    {
      key: {
        text: "Phone number"
      },
      value: {
        text: "07700 900902"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "phone number"
          }
        ]
      }
    },
    {
      key: {
        text: "Email address"
      },
      value: {
        text: "mail@example.org"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "18 High Street<br>Redhill<br>RH1 3AH<br>United Kingdom"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }
  ]
}) }}
